*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
@font-face {
    font-family: Avly;
    src: url(./63cffc0a3942456e003bc265_Chillax-Regular.woff);
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #111111;
    font-family: Avly;
    color: white;

}

@mixin flex-column($gap:0rem){
    display: flex;
    flex-direction: column;
    gap: $gap;
}

@mixin image-card($image){
    background-image: url($image);
    border-radius: 0.8rem;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
    zoom: 0.5;
    @include flex-column(0 rem);
    justify-content: space-between;
    aspect-ratio: 1/1;

}

section{
    max-width: 2000px;
}

main{
    width: 100%;
    @include flex-column();
    align-items: center;
    
    
    section.view1 {
        width: 100%;
        padding: 1rem;
        @include flex-column(0.5rem);
       
        #top{
            width: 100%;
            border-radius: 0.8rem;
            overflow: hidden;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        }
        #bottom{
            background-color: #1E1E1E;
            @include flex-column(0.6rem);
            padding: 2rem;
            border-radius: 0.8rem;
            #text {
                h2{
                    font-weight: 400;
                    text-transform: uppercase;
                    font-size: 1rem;
                    padding-bottom: 1.5rem;
                    opacity: 0.8;
                }
            }
            h1{
                text-transform: uppercase;
                font-weight: 100;
                font-size: 2.5rem;
                opacity: 0.9;
            }
            p{
                line-height: 2rem;
                opacity: 0.5;
            }
            button{
                width: fit-content;
                padding: 0.4rem;
                border-radius: 0.5rem;
                background-color: #1E1E1E;
                color: white;
            }
            
        }
    }

    section.view2 {
        @include flex-column(1rem);
        width: 100%;
        padding: 1rem;

        .top,.bottom{
            display: flex;
            width: 100%;
            justify-content: space-around;
        }

        .element{
            text-align: center;
            small{
                font-size: 1rem;
                opacity: 0.6;
            }
            h2{
                font-size: 2.5rem;
                font-weight: 300;
            }
        }

    }
    section.view3{
        width: 100%;
        padding: 1rem;
        @include flex-column(0.5rem);
        padding: 1rem;

        .top{
            width: 100%;
            border-radius: 0.8rem;
            overflow: hidden;

            
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
           

        }
        .bottom{
            background-color: #1E1E1E;
            @include flex-column(0.6rem);
            padding: 2rem;
            border-radius: 0.8rem;
            .head{
                height: 15vh;
            }
            .text {
               h1{
                    text-transform: uppercase;
                    font-weight: 100;
                    font-size: 2rem;
                    opacity: 0.9;
                    margin-bottom: 0.8rem;
                }
                p{
                    line-height: 1.4rem;
                    opacity: 0.5;
                } 
            }
            
            
        }
        
    }

    section.view4{
        width: 100%;
        padding: 1rem;
        @include flex-column(0.5rem);
        padding: 1rem;

        .top{
            width: 100%;
            border-radius: 0.8rem;
            overflow: hidden;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        }
        .bottom{
            background-color: #1E1E1E;
            @include flex-column(0.6rem);
            padding: 2rem;
            border-radius: 0.8rem;
            .head{
                height: 15vh;
            }
            .text {
               h1{
                    text-transform: uppercase;
                    font-weight: 100;
                    font-size: 2rem;
                    opacity: 0.9;
                    margin-bottom: 0.8rem;
                }
                p{
                    line-height: 1.4rem;
                    opacity: 0.5;
                } 
            }
            
            
        }

    }

    section.view5{
        width: 100%;
        padding: 1rem;
        @include flex-column(0.5rem);

        #image1{
            @include image-card("https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbdc1f945f817bf4fd7_team-03-p-800.webp");
        }
        #image2{
            @include image-card("https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbd2e12fa747e999689_team-02-p-800.webp");

        }
        #image3{
            @include image-card("https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbd7d003dfb6a1bdecb_team-01-p-1080.webp")
        }
        .top{
            display: flex;
            flex-direction: row-reverse;
            margin-right: 2rem;
            i{
                margin-top: 2rem;
                margin-right: 1rem;
                font-size: 2rem;
            }
        }
        .bottom{
            margin: 1rem;
            display: flex;
            justify-content: space-between;
            padding: 2rem;
            background-color: #908c8c42;
            backdrop-filter: blur(5px);
            border-radius: 0.8rem;
            font-size: clamp(0.8rem,10vw,1.5rem);
        }
    }

    section.view6{
        width: 100%;
        padding: 1rem;
        @include flex-column(0.5rem);
       
        .top{
            width: 100%;
            border-radius: 0.8rem;
            overflow: hidden;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        }
        .bottom{
            background-color: #1E1E1E;
            @include flex-column(0.6rem);
            padding: 2rem;
            border-radius: 0.8rem;
            #text {
                height: 35vh;
                h2{
                    font-weight: 400;
                    text-transform: uppercase;
                    font-size: 1rem;
                    padding-bottom: 0.5rem;
                    opacity: 0.8;
                }
            }
            h1{
                text-transform: uppercase;
                font-weight: 100;
                font-size: 2rem;
                opacity: 0.9;
            }
            button{
                width: fit-content;
                padding: 0.4rem;
                border-radius: 0.5rem;
                background-color: #1E1E1E;
                color: white;
            }
            
        }

    }

    section.view7{
        width: 100%;
        padding: 1rem;
        .card{
            background-color:#CEBD63;
            @include flex-column(0.6rem);
            border-radius: 0.8rem;
            color: black;
            padding: 6vw;

            .top{
                    h2{
                        font-weight: 400;
                        text-transform: uppercase;
                        font-size: 1rem;
                        padding-bottom: 0.5rem;
                    }
                    h1{
                        font-weight: 200;
                        text-transform: uppercase;
                        line-height: 2.5rem;
                        font-size: 2rem;
                    }
            }
    
            .bottom,button{
                text-decoration: none;
                width: 100%;
                padding: 0.5rem 0rem;
                color: white;
                background-color: black;
                border: none;
                border-radius: 0.5rem;
            } 
        }

               



    }
}

@media (min-width:900px){
    main{
        section.view1{
            flex-direction: row;
           #top,#bottom{
                width: 50%;
           }
           
           #bottom{
                justify-content: space-between;
                padding: 3rem;
                #text{
                    h2{
                        font-size: clamp(0.5rem,1.3vw,3rem);

                    }
                }
                h1{
                    font-size: clamp(2rem,4.5vw,5rem);
                    font-weight: 400;
                    line-height: clamp(2rem,4.5vw,5rem);
                }
                p{
                    line-height: 1rem;
                    font-size: clamp(0.7rem,1vh,1rem);
                    width: 80%;
                    padding-bottom: 1rem;
                }
           }
        }

        section.view2 {
            flex-direction: row;
        }

        section.view3{
           flex-direction: row-reverse;
           
           .top,.bottom{
                width: 50%;
           }
           
           .bottom{
                justify-content: space-between;
                padding: 3rem;
           }
           .text{
                .paragraph{
                    display: flex;
                    gap: 0.5rem;
                }
           }
        }
        section.view4{
            flex-direction: row;
           
           .top,.bottom{
                width: 50%;
           }
           
           .bottom{
                justify-content: space-between;
                padding: 3rem;
           }
           .text{
                .paragraph{
                    display: flex;
                    gap: 0.5rem;
                }
           }
        }

        section.view5{
            flex-direction: row;
            justify-content: space-around;
            
            .card{
                width: 33%;
            }
        }

        section.view6{
            flex-direction: row;
            padding: 1rem;
            .top,.bottom{
                width: 50%;
            }
            .bottom{
                #text{
                    height: 50vh;
                }
            }
        }

        section.view7{
            .card{
                width: 100%;
                flex-direction: row;
                
                justify-content: space-between;
                .top{
                    width: 80%;
                    h1{
                        font-size: 4rem;
                        line-height: 3.5rem;
                    }
                }
                .bottom{
                    width: 15%;
                    display: flex;
                    flex-direction: column-reverse;
                    background-color: #CEBD63;
                    
                    button{
                    }
                }
            }

        }
    }
}

